.App{
  width: 95%;
}

.App-logo {
  height: 50px;
  margin-left: 15px;
}

.dropdown{
  margin-right: 15px;
}

.btn{
  background-color: white;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 100px;
  padding: 20px;
  color: white;
}

h1{
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 50px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column{
  flex: 30%;
  align-items: center;
  margin-left: 100px;
  margin-top: 20px;
}

.boton{
  font-size: 17px;
  width: fit-content;
  border-color: #65B61B;
  color: #65B61B;
  background-color: white;
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn-outline-primary:hover {
  background-color: #6dc092;
  border-color: #057545;
}

.progress{
  margin-left: 20px;
  height: 4px;
}

.progress-bar{
  background-color: #65B61B;
  width: 8%;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.img-fluid{
  border-radius: 50%;

}

h2{
  font-size: 20px;
  font-weight: bold;
}

.avaliable{
  width: fit-content;
  background-color: #65B61B;
  border-color: #65B61B;
  font-size: 10px;
}

.btn-info:hover {
  background-color: #057545;
  border-color: #057545;
}

.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: #9A9895;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid #9A9895;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-default:hover {
  color: #FFF;
  background: #9A9895;
  border: 2px solid #9A9895;
}

h3{
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.street{
  font-size: 14px;
  font-weight: bold;
  color: #9A9895;
}

a{
  color: #65B61B
}

a:hover{
  color: #057545;
  text-decoration: none;
}

.skills{
  display: flex;
  flex-direction: row;
}

th{
  color: grey;
}

.footer{
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hide{
  font-size: 20px;
  color: #65B61B;
}

.feeTable{
  font-size: 20px;
}

.CHF{
  font-size: 15px;
  font-weight: bold;
}

.card-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.thide{
  color:#65B61B;
  font-weight:inherit
}

.tshow{
  color: black;
  font-weight: inherit
}

.card{
  border: none;
}






